{% extends 'base.html' %}

{% block title %}
    Main page
{% endblock %}

{% block home %}active{% endblock %}

{% block content %}

    <br>

    <div class="jumbotron">
        <h1 class="display-3">
            Main page
        </h1>
    </div>

{% endblock %}
