{% extends 'base.html' %}

{% block title %}
    Repos
{% endblock %}

{% block repos %}active{% endblock %}

{% block content %}

    <br>

    <h4>
        Repos
    </h4>

    <ul>
        {% for repo in repos %}
            <li>
                <form method="post" action="{% url 'main:hook' repo_name=repo.name %}">
                    {% csrf_token %}
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Подключить</button>
                    <a href="#">{{ repo.full_name }}</a>
                </form>
                <br>
            </li>
        {% endfor %}
    </ul>

{% endblock %}